@import "./theme.scss";

.roboto
{
  font-family: "Roboto", sans-serif;
}

.domine
{
  font-family: "Domine", sans-serif;
}

body
{
  @extend .domine;
  font-size: 1em;
  line-height: 1.8em;
  color: $default-text-color;
}

h1, h2, h3, h4, h5, h6
{
  @extend .roboto;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .75em;
}
